.Page {
  font-family: "Raleway", sans-serif;
  background-color: var(--p-icon-on-primary);
  box-shadow: var(--p-shadow-top-bar, shadow());
}

.Heading {
  padding: 1rem 0;
}

.Subheading {
  padding: 1rem 0;
}
